.picker {
  position: relative;
  width: 100px;
  height: 100px;
  background-image: linear-gradient(to top, #000, rgba(0, 0, 0, 0)),
    linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  background-color: red;
}

.hue {
  width: 100px;
  height: 24px;
  background: linear-gradient(
    to right,
    #f00 0%,
    #ff0 17%,
    #0f0 33%,
    #0ff 50%,
    #00f 67%,
    #f0f 83%,
    #f00 100%
  );
}

.pointer {
  position: absolute;
  top: 0;
  left: 0;
  width: 5px;
  height: 5px;
  background-color: orange;
  border: 2px solid rgb(58, 5, 252);
  border-radius: 50%;
}